# DATA CLEANING

In [28]:
# Data Loading

In [30]:
import pandas as pd

In [32]:
df = pd.read_csv(r"E:\E commerce project\EcommerceWorking.csv")

In [36]:
# Checking Structure

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Customer_ID                            1000 non-null   object
 1   Age                                    1000 non-null   int64
 2   Gender                                 1000 non-null   object
 3   Income_Level                           1000 non-null   object
 4   Marital_Status                         1000 non-null   object
 5   Education_Level                        1000 non-null   object
 6   Occupation                             1000 non-null   object
 7   Location                               1000 non-null   object
 8   Purchase_Category                      1000 non-null   object
 9   Purchase_Amount                        1000 non-null   object
 10  Frequency_of_Purchase                  1000 non-null   int64
 11  Purchase_Channel                       1000 non-null   object
 12  Brand_Loyalty                          1000 non-null   int64
 13  Product_Rating                         1000 non-null   int64
 14  Time_Spent_on_Product_Research(hours)  1000 non-null   float64
 15  Social_Media_Influence                 753 non-null    object
 16  Discount_Sensitivity                   1000 non-null   object
 17  Return_Rate                            1000 non-null   int64
 18  Customer_Satisfaction                  1000 non-null   int64
 19  Engagement_with_Ads                    744 non-null    object
 20  Device_Used_for_Shopping               1000 non-null   object
 21  Payment_Method                         1000 non-null   object
 22  Time_of_Purchase                       1000 non-null   object
 23  Discount_Used                          1000 non-null   bool
 24  Customer_Loyalty_Program_Member        1000 non-null   bool
 25  Purchase_Intent                        1000 non-null   object
 26  Shipping_Preference                    1000 non-null   object
 27  Time_to_Decision                       1000 non-null   int64
dtypes: bool(2), float64(1), int64(7), object(18)
memory usage: 205.2+ KB

In [40]:
df.head()

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4

In [42]:
df.shape

(1000, 28)

In [44]:
df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', 'Location', 'Purchase_Category',
       'Purchase_Amount', 'Frequency_of_Purchase', 'Purchase_Channel',
       'Brand_Loyalty', 'Product_Rating',
       'Time_Spent_on_Product_Research(hours)', 'Social_Media_Influence',
       'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
       'Engagement_with_Ads', 'Device_Used_for_Shopping', 'Payment_Method',
       'Time_of_Purchase', 'Discount_Used', 'Customer_Loyalty_Program_Member',
       'Purchase_Intent', 'Shipping_Preference', 'Time_to_Decision'],
      dtype='object')

In [46]:
df.head()

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4

In [48]:
# RENAMING COLUMN for standardization

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [50]:
df.columns

Index(['customer_id', 'age', 'gender', 'income_level', 'marital_status',
       'education_level', 'occupation', 'location', 'purchase_category',
       'purchase_amount', 'frequency_of_purchase', 'purchase_channel',
       'brand_loyalty', 'product_rating',
       'time_spent_on_product_research(hours)', 'social_media_influence',
       'discount_sensitivity', 'return_rate', 'customer_satisfaction',
       'engagement_with_ads', 'device_used_for_shopping', 'payment_method',
       'time_of_purchase', 'discount_used', 'customer_loyalty_program_member',
       'purchase_intent', 'shipping_preference', 'time_to_decision'],
      dtype='object')

In [52]:
#Changing data types of columns

In [54]:
df.dtypes

customer_id                               object
age                                        int64
gender                                    object
income_level                              object
marital_status                            object
education_level                           object
occupation                                object
location                                  object
purchase_category                         object
purchase_amount                           object
frequency_of_purchase                      int64
purchase_channel                          object
brand_loyalty                              int64
product_rating                             int64
time_spent_on_product_research(hours)    float64
social_media_influence                    object
discount_sensitivity                      object
return_rate                                int64
customer_satisfaction                      int64
engagement_with_ads                       object
device_used_for_shopping                  object
payment_method                            object
time_of_purchase                          object
discount_used                               bool
customer_loyalty_program_member             bool
purchase_intent                           object
shipping_preference                       object
time_to_decision                           int64
dtype: object

In [56]:
#  purchase_amount (removed $ and commas, converted to float)

df['purchase_amount'] = df['purchase_amount'].replace(r'[\$,]', '', regex=True).astype(float)

In [58]:
# Converted to datetime
df['time_of_purchase'] = pd.to_datetime(df['time_of_purchase'], errors='coerce')

In [60]:
# Converted these columns to category
category_cols = [
    'gender', 'income_level', 'marital_status', 'education_level',
    'occupation', 'location', 'purchase_category', 'purchase_channel',
    'social_media_influence', 'discount_sensitivity', 'engagement_with_ads',
    'device_used_for_shopping', 'payment_method', 'purchase_intent',
    'shipping_preference'
]
for col in category_cols:
    df[col] = df[col].astype('category')

In [62]:
# converted product_rating to float

df['product_rating'] = df['product_rating'].astype(float)

In [64]:
df.dtypes

customer_id                                      object
age                                               int64
gender                                         category
income_level                                   category
marital_status                                 category
education_level                                category
occupation                                     category
location                                       category
purchase_category                              category
purchase_amount                                 float64
frequency_of_purchase                             int64
purchase_channel                               category
brand_loyalty                                     int64
product_rating                                  float64
time_spent_on_product_research(hours)           float64
social_media_influence                         category
discount_sensitivity                           category
return_rate                                       int64
customer_satisfaction                             int64
engagement_with_ads                            category
device_used_for_shopping                       category
payment_method                                 category
time_of_purchase                         datetime64[ns]
discount_used                                      bool
customer_loyalty_program_member                    bool
purchase_intent                                category
shipping_preference                            category
time_to_decision                                  int64
dtype: object

In [66]:
df.head()

,customer_id,age,gender,income_level,marital_status,education_level,occupation,location,purchase_category,purchase_amount,...,customer_satisfaction,engagement_with_ads,device_used_for_shopping,payment_method,time_of_purchase,discount_used,customer_loyalty_program_member,purchase_intent,shipping_preference,time_to_decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,333.80,...,7,NaN,Tablet,Credit Card,2024-03-01,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222.22,...,5,High,Tablet,PayPal,2024-04-16,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426.22,...,7,Low,Smartphone,Debit Card,2024-03-15,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,101.31,...,1,NaN,Smartphone,Other,2024-10-04,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,211.70,...,10,NaN,Smartphone,Debit Card,2024-01-30,False,False,Wants-based,No Preference,4

In [87]:
#Standardized column names

df.columns = [col.title() for col in df.columns]

In [89]:
df.columns

Index(['Customer_Id', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', 'Location', 'Purchase_Category',
       'Purchase_Amount', 'Frequency_Of_Purchase', 'Purchase_Channel',
       'Brand_Loyalty', 'Product_Rating',
       'Time_Spent_On_Product_Research(Hours)', 'Social_Media_Influence',
       'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
       'Engagement_With_Ads', 'Device_Used_For_Shopping', 'Payment_Method',
       'Time_Of_Purchase', 'Discount_Used', 'Customer_Loyalty_Program_Member',
       'Purchase_Intent', 'Shipping_Preference', 'Time_To_Decision'],
      dtype='object')

In [91]:
df.head()

,Customer_Id,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_With_Ads,Device_Used_For_Shopping,Payment_Method,Time_Of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_To_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,333.80,...,7,NaN,Tablet,Credit Card,2024-03-01,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222.22,...,5,High,Tablet,PayPal,2024-04-16,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426.22,...,7,Low,Smartphone,Debit Card,2024-03-15,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,101.31,...,1,NaN,Smartphone,Other,2024-10-04,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,211.70,...,10,NaN,Smartphone,Debit Card,2024-01-30,False,False,Wants-based,No Preference,4

In [99]:
#Standardized Categorical Values

df['Gender'] = df['Gender'].str.lower().str.strip()
df['Income_Level'] = df['Income_Level'].str.lower().str.strip()
df['Marital_Status'] = df['Marital_Status'].str.lower().str.strip()
df['Education_Level'] = df['Education_Level'].str.lower().str.strip()
df['Occupation'] = df['Occupation'].str.lower().str.strip()
df['Location'] = df['Location'].str.lower().str.strip()
df['Purchase_Category'] = df['Purchase_Category'].str.lower().str.strip()
df['Purchase_Channel'] = df['Purchase_Channel'].str.lower().str.strip()
df['Social_Media_Influence'] = df['Social_Media_Influence'].str.lower().str.strip()
df['Discount_Sensitivity'] = df['Discount_Sensitivity'].str.lower().str.strip()
df['Engagement_With_Ads'] = df['Engagement_With_Ads'].str.lower().str.strip()
df['Device_Used_For_Shopping'] = df['Device_Used_For_Shopping'].str.lower().str.strip()
df['Payment_Method'] = df['Payment_Method'].str.lower().str.strip()
df['Purchase_Intent'] = df['Purchase_Intent'].str.lower().str.strip()
df['Shipping_Preference'] = df['Shipping_Preference'].str.lower().str.strip()

In [101]:
df.head()

,Customer_Id,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_With_Ads,Device_Used_For_Shopping,Payment_Method,Time_Of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_To_Decision
0,37-611-6911,22,female,middle,married,bachelor's,middle,évry,gardening & outdoors,333.80,...,7,NaN,tablet,credit card,2024-03-01,True,False,need-based,no preference,2
1,29-392-9296,49,male,high,married,high school,high,huocheng,food & beverages,222.22,...,5,high,tablet,paypal,2024-04-16,True,False,wants-based,standard,6
2,84-649-5117,24,female,middle,single,master's,high,huzhen,office supplies,426.22,...,7,low,smartphone,debit card,2024-03-15,True,True,impulsive,no preference,3
3,48-980-6078,29,female,middle,single,master's,middle,wiwilí,home appliances,101.31,...,1,NaN,smartphone,other,2024-10-04,True,True,need-based,express,10
4,91-170-9072,33,female,middle,widowed,high school,middle,nara,furniture,211.70,...,10,NaN,smartphone,debit card,2024-01-30,False,False,wants-based,no preference,4

In [103]:
# Remove Duplicates

df.drop_duplicates(inplace=True)

In [105]:
# fixing encoding issues

In [107]:
import unicodedata

def normalize_text(text):
    if isinstance(text, str):
        # Normalize unicode, remove accents/diacritics
        text = unicodedata.normalize('NFKD', text)
        text = ''.join(c for c in text if not unicodedata.combining(c))
        # Optional: lowercase and strip
        return text.lower().strip()
    return text

In [109]:
# applied to all

df['Location'] = df['Location'].apply(normalize_text)

In [111]:
df['Location'].unique()

array(['evry', 'huocheng', 'huzhen', 'wiwili', 'nara', 'boro utara',
       'liren', 'taocheng', 'grabo', 'pryamitsyno', 'punta gorda', 'gyor',
       'gaosheng', 'rokytne', 'alameda', 'dhankuta', 'jindong', 'ngeru',
       'white rock', 'monastyrshchina', 'pangkalanbunut', 'lederaba',
       'lugo', 'sao roque', 'bani khaddash', 'montpellier', 'nesovice',
       'pasirhuni', 'glendale', 'tala', 'marseille', 'nasielsk',
       'paris 06', 'bronnitsy', 'inayauan', 'qianjin', 'bagahanlad',
       'rzewnie', 'strabychovo', 'hongqi', 'oeoh', 'topol’noye',
       'kovarov', 'majdal bani fadil', 'delta del tigre',
       'santa cruz la laguna', 'manchester', 'norrkoping', 'sosno',
       'pella', 'namur', 'benevides', 'qinghaihu', 'alfeizerao',
       'prostredni becva', 'oeiras', 'kythnos', 'rizal', 'fullerton',
       'huaidao', 'bilice', 'isla verde', 'hunkuyi', 'shiree',
       'strezhevoy', 'longxing', 'jesus menendez', 'hongguang', 'pilaya',
       'camp ithier', 'holboo', 'luxi', 'ostashkov', 'hongshanzui',
       'tocoa', 'bayan tuohai', 'parumasan', 'karpogory', 'shahzadpur',
       'muaratiga', 'gjegjan', 'creteil', 'pameungpeuk', 'junshan',
       'lewotola', 'laocheng', 'guacari', 'sancang', 'ndewel',
       'san patricio', 'fengtai', 'dawran ad daydah', 'magdalena',
       'lesnica', 'hinlayagan ilaud', 'forshaga', 'rakszawa', 'fengjiang',
       'jiangcun', 'okuchi', 'novoukrainskiy', 'acobambilla', 'kyonju',
       'pomar', 'zaltan', 'trelaze', 'messina', 'mragowo', 'ngawi',
       'oslo', 'dobrica', 'la roche-sur-yon', 'point pedro', 'tianbao',
       'puqian', 'binalbagan', 'tessalit', 'nikolayevsk', 'dashuipo',
       'tyn nad vltavou', 'kaum kaler', 'gandapura', 'kawangkoan',
       'mondorf-les-bains', 'manwakh', 'karlstad', 'obong', 'kolsko',
       'dalbandin', 'shazi', 'hachioji', 'jolo', 'pedra azul',
       'gustavsberg', 'la mohammedia', 'florida', 'zhongcheng',
       'goiatuba', 'krajan kidul rojopolo', 'metchosin', 'staritsa',
       'benito juarez', 'mani', 'vitali', 'mizque', 'zgornje pirnice',
       'cipolletti', 'solleftea', 'klonowa', 'suvorov', 'dragash',
       'freiburg im breisgau', 'macau', 'pancas', 'dayapan',
       'gordon town', 'proptisht', 'kamal', 'kouvola', 'zhongdong',
       'betong', 'jinping', 'mgachi', 'lameira', 'medicine hat',
       'yenikoy', 'peer', 'belusovka', 'houston', 'hengdian', 'shuigou',
       'xingxi', 'dhibin', 'chengguan', 'paris 09', 'rozhdestveno',
       'porangatu', 'shalkar', 'quimbaya', 'narok', 'gimcheon',
       'visaginas', 'shostka', 'pukekohe east', 'blokdesa situgede',
       'yueyang', 'liutan', 'huanggang', 'baturite', 'mi’ersi', 'xuedian',
       'yuyapichis', 'shiroishi', 'kobe', 'gulou', 'jilin', 'balboa',
       'cipari', 'orlando', 'torsby', 'san pablo', 'daszewice',
       'villa concepcion del tio', 'hacienda la calera', 'puerto lopez',
       'xinchengzi', 'tecpan guatemala', 'araci', 'duyure', 'huangni',
       'kuala lumpur', 'seleus', 'monrovia', 'kristinehamn',
       'huancabamba', 'san jose acatempa', 'quebrada canoa', 'moate',
       'kubangwaru', 'марино', 'xinquan', 'providence', 'autun', 'shilin',
       'paris 17', 'stoczek łukowski', 'ormstown', 'ponte', 'boshkengash',
       'đa teh', 'rada‘', 'sinarwangi', 'dagup', 'ełk', 'moju', 'vilia',
       'prince rupert', 'jiangmen', 'alung', 'osorno', 'labo',
       'dakingari', 'selasari', 'besko', 'aubergenville', 'sula',
       'valongo', 'al khankah', 'mertola', 'rates', 'anyang', 'nymburk',
       'tafo', 'cibaregbeg', 'wang yang', 'liangnong', 'hengshi',
       'kandangan', 'naranjal', 'abiko', 'longhuashan', 'zhovkva',
       'lebak', 'gereshk', 'yonghe', 'dabai', 'moutnice', 'qiryat yam',
       'pirane', 'colima', 'marshintsy', 'halinow', 'hallsberg',
       'celso ramos', 'white river', 'taishihe', 'shanghu', 'brandsen',
       'ranot', 'saint-jouan-des-guerets', 'da’an', 'kisovec', 'abdanan',
       'dafeng', 'campo maior', 'savedalen', 'brikcha', 'xidianzi',
       'la union', 'kliteh', 'beja', 'ferreira do alentejo', 'gegernoong',
       'la montanita', 'sarishabari', 'mangge', 'chabarovice', 'yangping',
       'berezna', 'vidual', 'hultsfred', 'nikaia', 'macayug', 'mahanoro',
       'mozdok', 'hoolt', 'san luis', 'pergan', 'kanoni', 'gromadka',
       'payapa', 'rat burana', 'trhove sviny', 'kiev', 'lomintsevskiy',
       'monchegorsk', 'olavarria', 'jianshan', 'shreveport', 'pingzhuang',
       'merlo', 'ziniare', 'zdunska wola', 'mount ayliff', 'pirgaaj',
       'zbraslavice', 'xilu', 'bamut', 'la tour-du-pin', 'pader palwo',
       'maurisu', 'gorzyce', 'qingyun', 'jiuxian', 'ndungu',
       'emiliano zapata', 'spasskoye', 'gierłoz', 'sobue', 'high point',
       'qiankeng', 'pandean', 'phong đien', 'mirow', 'franceville',
       'bordeaux', 'zamora', 'jubaoshan', 'shadegan', 'gueltat zemmour',
       'mosal’sk', 'kokstad', 'malasin', 'huaqiu', 'loket',
       'santa maria do souto', 'yanshang', 'tempuran', 'karafao',
       'sao cristovao', 'buensuseso', 'blantyre', 'kozel’shchyna',
       'cibuah', 'cockburn town', 'maslog', 'faqqu‘ah', 'yelyzavethradka',
       'jackson', 'itaguai', 'ftelia', 'kiambu', 'xiber-murrize', 'xudat',
       'yaodu', 'saint-gratien', 'totora', 'goteborg', 'caslav',
       'rudnogorsk', 'pindiga', 'adela', 'krajan baru', 'jinqiao',
       'barg-e matal', 'argenteuil', 'daying', 'ngrejo', 'xieba', 'sigli',
       'aristobulo del valle', 'cane', 'podhum', 'vilar', 'portela',
       'arendal', 'nabinagar', 'la ravoire', 'dostoyevka', 'liuzhou',
       'sao mateus do maranhao', 'rumbek', 'cigedang', 'muaralabuh',
       'chełmiec', 'santa marta', 'brando', 'liangshuihe', 'cimara',
       'sanxing', 'linao', 'bairan', 'abaetetuba', 'pasirjaya', 'acheng',
       'huakoulongtan', 'burgastai', 'chavarria', 'demuk', 'sertolovo',
       'jixian', 'deqing', 'sala', 'dłutow', 'regimin', 'semiletka',
       'dayr sharaf', 'adani', 'rakhiv', "ma'an", 'navoiy',
       'sishilichengzi', 'tigaherang', 'villa dolores', 'poa', 'shibushi',
       'tilburg', 'ugra', 'montreuil', 'garibaldi', 'tiang', 'mouquim',
       'montecristi', 'prince albert', 'zajecov', 'liushun', 'sancha',
       'damnoen saduak', 'cianorte', 'liuzuo', 'kashmar', '‘arad',
       'lenart v slov. goricah', 'bigaa', 'guadalupe', 'xiaruyue',
       'gweedore', 'przelewice', 'dalumangcob', 'cravo norte', 'monteria',
       'mikun’', 'samamiya', 'tanahmerah', 'orebro', 'kefar yona',
       'pasto', 'huangtan', 'il’inskiy', 'ugljevik', 'na chaluai',
       'marolambo', 'cali', 'tamana', 'miyazu', 'gryfow slaski',
       'pinagsibaan', 'jardin', 'aguilares', 'muslyumovo', 'taiyuan',
       'chatturat', 'paisha', 'kadugadung', 'paris 15', 'dualing',
       'adelaide', 'pingshi', 'renshan', 'sobinka', 'narol', 'fresno',
       'vabalninkas', 'jambuwerkrajan', 'ozubulu', 'nakhchivan',
       'curumani', 'praia', 'pallisa', 'san pascual',
       '‘asirah ash shamaliyah', 'dom pedrito', 'san sebastian de yali',
       'shchekino', 'turkestan', 'rzeczenica', 'perzow',
       'sabon gari-nangere', 'hengshui', 'nantes', 'tamorot', 'sinchao',
       'anding', 'rukem', 'bogovarovo', 'valbo', 'jaguaruana',
       'taqchah khanah', 'lipovci', 'panagyurishte', 'thi tran than uyen',
       'clichy', 'kłoczew', 'zhukovo', 'nykoping', 'jianmin',
       'bucaramanga', 'kudanding', 'kyoto', 'saraburi', 'negeriagung',
       'latacunga', 'guanzhou', 'tabuc pontevedra', 'kabale', 'malveira',
       'veiga', 'jagistay', 'yuannan', 'mount darwin',
       'qal‘eh-ye khvajeh', 'al qararah', 'fandriana', 'carregueira',
       'lincheng', 'semenivka', 'ylane', 'cendagah', 'firuzabad',
       'trondheim', 'yakovlevo', 'katav-ivanovsk', 'voznesenskoye',
       'voskhod', 'gudja', 'gawul', 'sobeok', 'nanhuang', 'tanudan',
       'jiaozuo', 'takab', 'gualeguay', 'lagoa seca', 'bugarama',
       'dicamay', 'xiluodu', 'hababah', 'lobuk', 'waiwukak', 'abaete',
       'xiaqiao', 'zububah', 'kesowo', 'colombo', 'messini', 'yishui',
       'nanyaojie', 'buzen', 'bom jesus do itabapoana', 'centenario',
       'al jizah', 'thi tran cam thuy', 'curahkalak tengah', 'ebu',
       'tio pujio', 'shaxi', 'kelishad va sudarjan', 'segodim', 'yinying',
       'harembo', 'lazarevac', 'zhongcun', 'gaopeng', 'tabonok', 'tirana',
       'maralal', 'xinjiang', 'mocho', 'likhoy', 'mineiros',
       'noisy-le-grand', 'taoyuan', 'san marcos de colon', 'pokrovka',
       'shuntian', 'joao camara', 'cunha', 'fengyi', 'myshkin',
       'tewulike', 'bistrinci', 'chenguang', 'muara', 'qorveh',
       'bom despacho', 'arhust', 'thaton', 'changbai', 'kragan', 'bida',
       'pointe michel', 'juyuan', 'sabugo', 'huangjin', 'huquan',
       'xinqiao', 'trzemeszno', 'dashkawka', 'sakura', 'lianghu',
       'karabash', 'maomiaoji', 'pingtian', 'tisina',
       'montceau-les-mines', 'karengan', 'sungai raya', 'zwedru', 'tahta',
       'masaran', 'huangtang', 'skoutari', 'jelat', 'doibang',
       'kazimierz dolny', 'margasari', 'garca', 'muff', 'kryva hora',
       'pyra', 'general lavalle', 'zhongzhang', 'estacion',
       'xinglongchang', 'san nicolas', 'ropa', 'san diego', 'pan-an',
       'shu', 'mojogajeh', 'mawu', 'genting', 'madan', 'hexiangqiao',
       'na muen', 'gafargaon', 'qingban', 'labege', 'port elizabeth',
       'sauri', 'desakolot', 'huambo', 'luoting', 'stepnogorsk',
       'zarechnyy', 'banjar medura', 'arnprior', 'donglu', 'inderka',
       'tochio-honcho', 'pasadena', 'barishal', 'kihurio', 'oekero',
       'cluses', 'wrzasowice', 'hengfeng', 'bor', 'nawu', 'longotea',
       'habil al jabr', 'gueset', 'likak', 'yuanguping', 'colon', 'lyon',
       'chamical', 'agios andreas', 'cibeusi', 'itsandzeni', 'kosh-agach',
       'kuafeu', 'xincheng', 'minneapolis', 'pefki', 'hawalli', 'imielin',
       'przeworsk', 'amsterdam nieuw west', 'klishkivtsi', 'borova',
       'vendargues', 'zilang', 'camalote', 'julayjilah', 'badajoz',
       'fort wayne', 'galan', 'saint joseph',
       "hospitalet de llobregat, l'", 'palma de mallorca', 'pho duc',
       'łeba', 'yaguaraparo', 'novoorsk', 'wuyang', 'pelasgia',
       'phuc tho', 'vsevolozhsk', 'kara suu', 'beigucheng', 'cerro',
       'yamaga', 'sacramento', 'foso', 'nowe brzesko', 'konarak',
       'qingshandi', 'mbala', 'shiqiao', 'yatsuomachi-higashikumisaka',
       'czarna dabrowka', 'pasirmadang', 'mano', 'tiwi', 'ahar', 'dake',
       'harstad', 'perbaungan', 'soroti', 'caruaru', 'kamiennik',
       'boundiali', 'gotene', 'kadumelati', 'amparo', 'shimen',
       'philadelphia', 'myingyan', 'qingqu', 'poste de flacq',
       'tawr al bahah', 'phu loc', 'jembangan', 'harhorin', 'meijiang',
       'langub', 'bangbayang', 'steborice', 'banturkrajan', 'sao torcato',
       'kapan', 'van giang', 'tanushimarumachi-toyoki', 'kazo',
       'rawa mazowiecka', 'wonsan', 'villavicencio', 'berlin', 'wailang',
       'fangshan', 'tallahassee', 'anchorage', 'mulhouse', 'tangkilsari',
       'san carlos', 'queluz', 'sarkisalo', 'vitoria-gasteiz', 'coro',
       'purwa', 'gavle', 'embu guacu', 'fubin', 'talshand', 'palampal',
       'kamarai', 'ettelbruck', 'cawayan', 'don carlos', 'cervantes',
       'ebebiyin', 'chuquitira', 'proletarsk', 'naghalin', 'honolulu',
       'dhalie', 'giesteira', 'khilok', 'vereshchagino', 'binagadi',
       'tsuen wan', 'banjar batanpoh', 'yenakiyeve', 'san ramon',
       'sakete', 'pantenan', 'antrukan', 'dhahab', 'vetluga', 'wolfsberg',
       'san bautista', 'reuleuet', 'lonpao dajah', 'nanqiao', 'ishikawa',
       'oguma', 'tesany', 'aksha', 'lahan sai', 'estancia', 'las lomas',
       'xiamayu', 'inapari', 'orsay', 'zhongying', 'bayhan', 'beizhakou',
       'kyongsong', 'turinsk', 'as sawda', 'legaspi', 'shimorskoye',
       'koscielec', 'yongfu', 'vinkkila', 'revolucion verde', 'newton',
       'nantang', 'perugia', 'tancheng', 'leon postigo', 'bollene',
       'baihe', 'puqi', 'pedraza', 'pasinan barat', 'saltpond', 'rende',
       'zarasai', 'nanchangshan', 'pegoes', 'espirito santo do pinhal',
       'ujezd', 'bhadrapur', 'kostrovo', 'lemery', 'youcheng', 'napoli',
       'el cano', 'heemstede', 'panyam', 'faraulep', 'san isidro',
       'mranggen', 'cigadog', 'caitang', 'masoyila', 'beiyuan', 'kariya',
       'malakhovka', 'at-bashi', 'sankeyushu', 'limoges', 'hagersten',
       'tarata', 'marabahan', 'eslamabad', 'emar', 'baisha', 'skorzec',
       'sao joao dos inhamuns', 'tambaksari', 'lazarat', 'belene',
       'xiangshan', 'zengfu', 'tingsryd', 'tipaz', 'wadi as salqa',
       'wasagu', 'wangsi', 'esmeralda', 'chivilcoy',
       'sao miguel do araguaia', 'libei', 'kucove', 'bokong timur',
       'gaowu', 'gueret', 'postrekov', 'gobojango', 'tandahimba', 'iwade',
       'la guata', 'saint-brieuc', 'paya dapur', 'xinzha', 'al qarah',
       'antipolo', 'yuyangguan', 'qiman', 'maguwon', 'tsibulev',
       'san antonio aguas calientes', 'pombas', 'ku‘aydinah',
       'san marcos', 'chum phae', 'la laja', 'san juan del cesar',
       'taiyigong', 'tayabamba', 'majennang', 'njeru', 'ambatolaona',
       'jianggang', 'langkou', 'horni sucha', 'haradok', 'vichuga',
       'luci', 'guolemude', 'prengtale', 'cabanas', 'faizabad', 'sukumo',
       'fenglu', 'tanjungbalai', 'carrefour', 'hejiang', 'yaizu', 'kembe',
       'novokayakent', 'hekou', 'bailadores', 'masuda', 'martanesh',
       'xinzhou', 'nanfeng', 'oke ila', 'rio pardo', 'pingtang',
       'podbrdo', 'aramayuan', 'paquera', 'warudoyong', 'beziers',
       'dongzhou'], dtype=object)

In [ ]:
#HANDLING MISSING VALUES

In [113]:
df.isnull().sum()         # seeing how many missing

Customer_Id                                0
Age                                        0
Gender                                     0
Income_Level                               0
Marital_Status                             0
Education_Level                            0
Occupation                                 0
Location                                   0
Purchase_Category                          0
Purchase_Amount                            0
Frequency_Of_Purchase                      0
Purchase_Channel                           0
Brand_Loyalty                              0
Product_Rating                             0
Time_Spent_On_Product_Research(Hours)      0
Social_Media_Influence                   247
Discount_Sensitivity                       0
Return_Rate                                0
Customer_Satisfaction                      0
Engagement_With_Ads                      256
Device_Used_For_Shopping                   0
Payment_Method                             0
Time_Of_Purchase                           0
Discount_Used                              0
Customer_Loyalty_Program_Member            0
Purchase_Intent                            0
Shipping_Preference                        0
Time_To_Decision                           0
dtype: int64

In [117]:
# since 25% values are missing : filling with 'unknown'

df['Social_Media_Influence'] = df['Social_Media_Influence'].fillna('unknown')
df['Engagement_With_Ads'] = df['Engagement_With_Ads'].fillna('unknown')

In [119]:
df.isnull().sum()

Customer_Id                              0
Age                                      0
Gender                                   0
Income_Level                             0
Marital_Status                           0
Education_Level                          0
Occupation                               0
Location                                 0
Purchase_Category                        0
Purchase_Amount                          0
Frequency_Of_Purchase                    0
Purchase_Channel                         0
Brand_Loyalty                            0
Product_Rating                           0
Time_Spent_On_Product_Research(Hours)    0
Social_Media_Influence                   0
Discount_Sensitivity                     0
Return_Rate                              0
Customer_Satisfaction                    0
Engagement_With_Ads                      0
Device_Used_For_Shopping                 0
Payment_Method                           0
Time_Of_Purchase                         0
Discount_Used                            0
Customer_Loyalty_Program_Member          0
Purchase_Intent                          0
Shipping_Preference                      0
Time_To_Decision                         0
dtype: int64

In [123]:
# adding new columns

df['Purchase_Day'] = pd.to_datetime(df['Time_Of_Purchase'], errors='coerce').dt.day_name()
df['Is_Weekend'] = df['Purchase_Day'].isin(['Saturday', 'Sunday'])

In [125]:
df.columns

Index(['Customer_Id', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', 'Location', 'Purchase_Category',
       'Purchase_Amount', 'Frequency_Of_Purchase', 'Purchase_Channel',
       'Brand_Loyalty', 'Product_Rating',
       'Time_Spent_On_Product_Research(Hours)', 'Social_Media_Influence',
       'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
       'Engagement_With_Ads', 'Device_Used_For_Shopping', 'Payment_Method',
       'Time_Of_Purchase', 'Discount_Used', 'Customer_Loyalty_Program_Member',
       'Purchase_Intent', 'Shipping_Preference', 'Time_To_Decision',
       'Purchase_Day', 'Is_Weekend'],
      dtype='object')

In [127]:
df.head()

,Customer_Id,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Device_Used_For_Shopping,Payment_Method,Time_Of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_To_Decision,Purchase_Day,Is_Weekend
0,37-611-6911,22,female,middle,married,bachelor's,middle,evry,gardening & outdoors,333.80,...,tablet,credit card,2024-03-01,True,False,need-based,no preference,2,Friday,False
1,29-392-9296,49,male,high,married,high school,high,huocheng,food & beverages,222.22,...,tablet,paypal,2024-04-16,True,False,wants-based,standard,6,Tuesday,False
2,84-649-5117,24,female,middle,single,master's,high,huzhen,office supplies,426.22,...,smartphone,debit card,2024-03-15,True,True,impulsive,no preference,3,Friday,False
3,48-980-6078,29,female,middle,single,master's,middle,wiwili,home appliances,101.31,...,smartphone,other,2024-10-04,True,True,need-based,express,10,Friday,False
4,91-170-9072,33,female,middle,widowed,high school,middle,nara,furniture,211.70,...,smartphone,debit card,2024-01-30,False,False,wants-based,no preference,4,Tuesday,False

In [131]:
#Saving
df.to_csv("E:/E commerce project/Cleaned_Ecommerce_Data.csv", index=False)